.button-go-up {
    text-align: center;
    font-family: 'Didot', 'Playfair Display', sans-serif;
}
.button-go-up button {
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 100px;
    padding: 0px;
    padding-bottom: 3px;
    font-family: 'Didot', 'Playfair Display', sans-serif;
    background-color: white;
}
.button-go-up button:hover {
    text-decoration: underline;;
    cursor: pointer;
}