#footer {
    background-color: black;
    color: #ffffff;
    font-size: 17px;
    position: relative;
}
#footer .flex {
    display: flex;
    padding-top: 90px;
    padding-bottom: 50px;
}
#footer .logo {
    flex: 1;
    text-align: right;
    margin-right: 150px;
}
#footer .logo img {
    width: 400px;
}
#footer .write-us {
    flex: 1;
}
#footer a {
    text-decoration: none;
    color: #ffffff;
}
#footer a:hover {
    text-decoration: underline;
}
#footer div.write-us p {
    margin-left: -100px;
    margin-top: -15px;
    letter-spacing: 1.5px;
    line-height: 2.5;
}
#footer p.to-instagram {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 50px;
    letter-spacing: 1.5px;
}
#footer .version {
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 0;
    margin-bottom: 0px;
}