#footer {
    display: flex;
    background-color: black;
    color: #ffffff;
    font-size: 18px;
    position: relative;
}
#footer  {
    padding: 80px 100px;
}
#footer .logo {
    margin-bottom: 30px;
    flex: 1;
}
#footer .write-us {
    flex: 1;
    padding-left: 400px;
}
#footer .overline {
    border-top: 2px solid white;
}
#footer .logo img {
    width: 100px;
}
#footer a {
    text-decoration: none;
    color: #ffffff;
}
#footer a:hover {
    text-decoration: underline;
}
#footer .right {
    margin-top: 100px;
}
#footer div.write-us p {
    letter-spacing: 1.5px;
    line-height: 2.5;
    margin-bottom: 5px;
    text-align: right;
}
#footer p.to-instagram {
    margin-bottom: 0px;
    letter-spacing: 1.5px;
    line-height: 40px;
    margin-top: 50px;
}
#footer .version {
    font-size: 9px;
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-bottom: 0px;
}