#header {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    padding: 60px 100px;
    align-items: center;
}
#header img {
    width: 400px;
    margin-top: 10px;
}
#header .form-for-email {
    text-align: right;
    width: 100%;
    font-size: 18px;
    margin-top: -50px;
}
#header .form-for-email p {
    margin-bottom: 0px;
    letter-spacing: 2px;
}
#header input {
    font-family: 'Didot', 'Playfair Display', sans-serif;
    padding: 15px 58px;
    font-size: 18px;
    letter-spacing: 0.5px;
    outline: none;
    margin-top: 10px;
    width: 170px;
    border: none;
    text-align: center;
}
#header .form-for-email button {
    background-color: #ffffff !important;
    font-family: 'Didot', 'Playfair Display', sans-serif;
    padding: 15px;
    font-size: 18px;
    letter-spacing: 0.5px;
    outline: none;
    margin-top: 10px;
    border: none;
    margin-left: 2px;
}
#header .form-for-email button:hover {
    cursor: pointer;
}
#header ::-webkit-input-placeholder { color: #c1c1c1; }
#header ::-moz-placeholder          { color: #c1c1c1; } /* Firefox 19+ */
#header :-moz-placeholder           { color: #c1c1c1; } /* Firefox 18- */
#header :-ms-input-placeholder      { color: #c1c1c1; }
