#header {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    padding: 40px 100px 30px 100px;
}
#header img {
    width: 200px;
}
#header .form-for-email {
    text-align: right;
    width: 100%;
    font-size: 20px;
    margin-top: -25px;
}
#header input {
    padding: 15px 58px;
    font-size: 20px;
    letter-spacing: 3px;
    outline: none;
    margin-top: 10px;
    font-weight: 200;
    width: 170px;
}
