#header {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    padding: 40px 100px 30px 100px;
}
#header img {
    width: 180px;
}
#header .form-for-email {
    text-align: right;
    width: 100%;
    font-size: 20px;
    margin-top: -25px;
}
#header input {
    font-family: 'Didot', sans-serif;
    padding: 15px 58px;
    font-size: 20px;
    letter-spacing: 0.5px;
    outline: none;
    margin-top: 10px;
    width: 170px;
    border: none;
}
#header .form-for-email button {
    background-color: #ffffff !important;
    font-family: 'Didot', sans-serif;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 0.5px;
    outline: none;
    margin-top: 10px;
    border: none;
    margin-left: 2px;
}
#header .form-for-email button:hover {
    cursor: pointer;
}
