.left-flex {
    display: flex;
}
.left-item, .right-item {
  margin-left: 100px;
  margin-right: 100px;
}
.left-item {
  margin-top: 50px;
  margin-bottom: 40px;
}
.right-item {
    background-color: green;
}
.right-item img {
  width: 300px;
}
.delimiter {
  margin-top: 0px;
  margin-bottom: 50px;
  height: 10px;
  background-color: #000000; 
}
.main-photo {
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
/*  width: 570px;*/
  height: 360px;
  flex: 2;
}
.secondary {
  flex: 1;
}
.secondary p {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 15px;
}
.secondary img {
  width: 155px;
  height: 110px;
}
.photos-number {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  font-size: 80px;
  margin: 0px;
  margin-left: 20px;
  opacity: 0.7;
}
.link-to-detail {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  font-size: 25px;
  margin: 0px;
  margin-right: 30px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.photos-number:hover {
  opacity: 1;
}
.link-to-detail:hover {
  opacity: 1;
  border-bottom: 1px solid #ffffff;
}
.about-image-left-item {
  flex: 1;
  position: relative;
}
.about-image-left-item p {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  text-align: right;
  margin-top: 90px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: 0.3px;
  white-space: nowrap;
  width: 250px;
  margin-left: 0px;
  margin-right: -100px;
}