div#main-banner {
    color: #ffffff;
    background-size: cover !important;
}
#main-banner .grid-row-1, #main-banner .grid-row-2 {
    display: flex;
    padding-right: 37px;
}
#main-banner .grid-row-2 {
    padding-top: 200px;
    padding-right: 100px;
    padding-left: 120px;
    padding-bottom: 50px;
}
@media screen and (min-width: 1300px) {
    #main-banner .grid-row-2 {
        padding-bottom: 150px;
    }
}
#main-banner .grid-item {
    flex: 1;
}
#main-banner .about-image {
    text-align: right;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.94;
    letter-spacing: 0.3px;
    white-space: nowrap;
    margin-right: -15px;
}
#main-banner .about-image p {
    transform: rotate(-90deg);
    width: 270px;
    float: right;
    margin-top: 180px;
    letter-spacing: 2px;
}
#main-banner .title {
    margin-right: -230px;
}
#main-banner .autor i {
    font-weight: 100;
    font-size: 23px;
}
#main-banner .logo img {
    width: 500px;
    padding-top: 60px;
}
#main-banner p.description {
    text-align: right;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 100;
    margin-right: 45px;
}
#main-banner .description i {
    font-size: 20px;
    opacity: 0.8;
}
#main-banner div#main-banner p.description, #main-banner div#main-banner h1 {
    display: inline-block;
}

#welcome h1, #welcome p {
    text-align: center;
}
#welcome h1 {
    font-weight: 900;
    font-size: 35px;
    margin-top: 70px;

}
#welcome p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    opacity: 0.7;
}
#welcome a {
    text-decoration: none;
    color: #000000;
    opacity: 1;
}
#welcome a:hover {
    cursor: pointer;
    opacity: 0.7;
}
div#welcome p:nth-child(4) {
    margin-top: 30px;
    margin-bottom: 100px;
}



