#showAllPhotos {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    z-index: 9999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    text-align: center;
    color: #ffffff;
    min-width: 1200px;
}
#showAllPhotos div.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#showAllPhotos img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}
@media screen and (max-width: 767px) {
    #showAllPhotos {
        overflow: visible !important;
        min-width: auto;
    }
    #showAllPhotos .closeGallery {
        font-size: 100px !important;
        font-weight: 900 !important;
    }
}

@media screen and (orientation:portrait) and (max-width: 600px) {
    #showAllPhotos img {
        height: auto;
        width: 100%;
    }
    #showAllPhotos {
        background-color: black;
    }
    #showAllPhotos p.photoNavigationPrev,
    #showAllPhotos p.photoNavigationNext {
        display: none;
    }
}
@media screen and (orientation:landscape) and (max-width: 800px)  {
    #showAllPhotos img {
        max-height: 100%;
        width: auto;
    }
    #showAllPhotos {
        background-color: black;
    }
    #showAllPhotos p.photoNavigationPrev,
    #showAllPhotos p.photoNavigationNext {
        display: none;
    }
}


#showAllPhotos .closeGallery {
    font-size: 50px;
    font-weight: 900;
    position: fixed;
    top: 0px;
    right: 15px;
    opacity: 0.7;
}

#showAllPhotos p.photoNavigationPrev {
    position: fixed;
    margin: 0px;
    left: 20px;
    top: 45%;
    font-size: 50px;
    font-weight: 900;
    opacity: 0.7;
}
#showAllPhotos p.photoNavigationNext {
    position: fixed;
    margin: 0px;
    right: 20px;
    top: 45%;
    font-size: 50px;
    font-weight: 900;
    opacity: 0.7;
}
#showAllPhotos p.photoNavigationPrev:hover,
#showAllPhotos p.photoNavigationNext:hover,
#showAllPhotos .closeGallery:hover {
    opacity: 1;
    cursor: pointer;
}
#showAllPhotos p.photoNavigationPrev,
#showAllPhotos p.photoNavigationNext,
#showAllPhotos .closeGallery {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}